@font-face {
  font-family: "persian01";
  /* Replace the font URLs with appropriate CDNs or local file paths */
  src: url("https://example.com/fonts/IH-Pe.eot");
  src: url("https://example.com/fonts/IH-Pe.eot?#iefix") format("embedded-opentype"),
    url("https://example.com/fonts/IH-Pe.woff2") format("woff2"),
    url("https://example.com/fonts/IH-Pe.woff") format("woff"),
    url("https://example.com/fonts/IH-Pe.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "persian02";
  /* Replace the font URLs with appropriate CDNs or local file paths */
  src: url("https://example.com/fonts/BYekan-webfont.eot") format("eot"),
    url("https://example.com/fonts/BYekan-webfont.woff") format("woff"),
    url("https://example.com/fonts/BYekan-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "persian02", tahoma;
  background: #f4f5fb;
  margin: 0;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

/* .container-fluid {
    height: 100vh !important;
} */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
